* {
  color: black;
}

.navbar {
  display: inline;
  background-color: rebeccapurple;
}

ul, li, a, a:active, a:any-link  {
  text-decoration: none;
  list-style: none;
}

 table { 
  width: 100%; 
  border-collapse: collapse; 
}

 th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}

td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

.myTable {
  width: 80%;
} 